<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ready To Vote!</title>
    <link rel="stylesheet" href=""> 
</head>
    <main>
        <div class="container">
            <section class="sidebar">
                
            </section>
            <section class="content">
                <h2>Welcome!</h2>
                <p>You have successfully logged in...</p>
            </section>
        </div>
    </main>

    <footer>
        
    </footer>
</body>
</html>
